{% extends "layout.html" %}

{% block title %}
    Generate
{% endblock %}

{% block main %}

<h2>Fill Your Forms</h3>

<h3>Upload PDF template</h3>
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control" id="pdf" name="pdf" type="file">
            <br>
            
            
        </div>
  
<h3>Upload CSV data</h3>
   
        <div class="form-group">
            <input class="form-control" id="csv_data" name="csv_data" type="file"><br>
            
        </div>

        <button class="btn btn-primary" value="upload" type="submit" name="submit">Upload</button>   
    </form>
   
<form action="/" method="POST">

    <button class="btn btn-primary" value="generate" type="submit" name="submit">Fill Form</button>

</form>

{% endblock %}